<!doctype html>
<html>

<head>
    <title>Guabar 4 ever</title>

    <h2>Guabar 4 ever</h2>
    <link rel="stylesheet" href="../Style/style.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
    <script type=text/javascript> $(function() { $("#id_but").click(function (event) { $.getJSON('/echoTerm', { },
    function(data) { }); return false; }); }); </script>

</head>

<body>   
    <a href="hand_selection"><img id="hand_button" src="../static/ff6f06ccc5444b31090f5dc56279d1ef-icono-de-silueta-de-palma-de-mano.png"/></a>
    <a href="voice_selection"><img id="voice_button" src="../static/microphone.png"/></a>
</body>    

</html>